<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.app02.dao.extend.CourseExtendMapper">
    <select resultMap="courseExtendResultMap" id="selectAll">selectc.id as c_id,c.name,c.description,c.credit,c.teacher_id,t.id as t_id,t.realname,t.type,t.statusfrom sms_course c left join sms_user ton c.teacher_id = t.id </select>
    <resultMap id="courseExtendResultMap" type="com.briup.apps.app02.bean.extend.CourseExtend">
    <id property="id" column="c_id"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <result property="credit" column="credit"/>
    <result property="teacher_id" column="teacher_id"/>
    <association property="teacher" javaType="com.briup.apps.app02.bean.User">
    <id property="id" column="t_id"/>
    <result property="realname" column="realname"/>
</association>
</resultMap>
    <!--<select id="selectAll" resultMap="courseExtendResultMap">select * from sms_course</select><resultMap id="courseExtendResultMap"type="com.briup.apps.app02.bean.extend.CourseExtend"><id column="id" property="id"/><result column="name" property="name"/><result column="description" property="description"/><result column="credit" property="credit"/><result column="teacher_id" property="teacher_id"/><associationselect="com.briup.apps.app02.dao.UserMapper.selectByPrimaryKey"column="teacher_id"property="teacher"/></resultMap> -->
</mapper>